@import "./base-theme.scss";

.dark-theme {
   
    %box {
        background-color:#111419;
    }
    
    .BoxHide {
        @include setBoxShadow(2px 2px 2px 2px,grey);
    }
    
    .BoxShow {
        background-color:#282828;
        @include setBoxShadow(inset 0 0 10px,#353535);
    }
    
    .BoxFlag {
        @include setBoxShadow(2px 2px 2px 2px,grey);
    }
    
    .BoxBomb {
        @include setBoxShadow(inset 0 0 10px, #3a0000);
        background-color: #a50000;
    }
    
    button {
        color: lightgrey;
        background-color: #111419;
    }

    ul {
        background-color: #111419;
    }

    li a {
        color: white;
    }

    li a:hover:not(.active) {
        background-color: #282828;
    }

    .active {
        background-color: grey;
    }

}

